@tailwind base;

@tailwind components;

@tailwind utilities;

.topic {
  @apply text-base text-fuchsia-500 tracking-wider font-semibold;
}

.container {
  @apply flex flex-col justify-center items-center p-2;
}
.survey-container {
  @apply flex flex-col justify-start items-start p-1;
}

.logo {
  @apply w-24 h-24;
}

.heading {
  @apply font-bold my-2;
}

.input {
  @apply border border-gray-500 rounded-md  p-1;
}

.label {
  @apply p-2;
}
.btn {
  @apply bg-purple-900 text-white focus:outline-none px-6 py-1 mt-2;
}
